//====================================================================================================
.header {
	position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
	padding: 60px 0px;
	min-height: 40px;
	@media (max-width: 1024px) {
		padding: 15px 0px;
	}

	
	&._header-scroll {
		background: hsl(0, 0%, 100%);
		//padding: 10px 0px 10px 0px;
		//min-height: 40px;
		
	}

	// .header__container

	&__container {
		
	}

	&__body {
	
		
	}
	// .header__menu

	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .header__block

	&__block {
		display: flex;
		align-items: center;
		gap: 8px;
		flex-shrink: 0;
		position: relative;
		z-index: 80;
		&::after {
			content: '';
			position: absolute;
			top: -2px;
			right: -50px;
			height: 120%;
			width: 2px;
			background: #E6E8EC;
			@media (max-width: 1024px) {
				display: none;
			}
		}
		@media (max-width: 1024px) {
			flex: 1 1 auto;
		}
	}

	// .header__logo

	&__logo {

		img {
			max-width: 100%;
		}
	}

	// .header__text

	&__text {
		white-space: nowrap;
		font-weight: 600;
		font-size: 24px;
		line-height: 1.33;
		letter-spacing: -0.02em;
		color: #23262F;
		text-transform: capitalize;
	}

	
	// .header__action

	&__action {
		flex-shrink: 0;
		//padding: 0px 10px 0px 0px;
		position: relative;
		z-index: 80;
	
		@media (max-width: 1024px) {
			//padding: 0px 0px 0px 0px;
			
			display: flex;
			gap: 45px;
			align-items: center;
		}
		@media (max-width: 450px) {
			padding: 0px 30px 50px 30px;
			justify-content: space-between;
		}
		
	}

	// .header__btn

	&__btn {
	}

	// .header__button

	&__button {
	}

	//   header__search 
	&__search {
		display: none;
		@media (max-width: 450px) {
			display: block;
		}
	}
}
.menu {

	// .menu__icon

	&__icon {
	}

	// .menu__body

	&__body {
		
		@media (max-width: 1024px) {
			position: fixed;
			top: 0px;
			left: -100%;//-100
			width: 100%;
			height: 100%;
			background: #7cb81c;
			background: #FCFCFD;
			transition: all 0.3s ease 0s;
			overflow: auto;
			display: flex;
			flex-direction: column;
			text-align: left;
		
		}
		&::before {               // -- верх шторки
			@media (max-width: 1024px) {
				content: '';
				position: fixed;
				top: 0px;
				left: -100%;//-100
				height: 60px;
				padding: 10px 0px 58px 0px;
				width: 100%;
				background: #56d82f;
				background: #FCFCFD;
				//background: rgb(43, 43, 43);
				z-index: 2;
				transition: all 0.3s ease 0s;
			}
		}
		.menu-open & {
			left: 0;
	
			&::before {
				left: 0;
	
			}
		}
	}

	// .menu__list

	&__list {
		display: flex;
		column-gap: 32px;
		row-gap: 15px;
		flex-wrap: wrap;
		padding: 0px 15px;
		@media (max-width: 1024px) {
			display: flex;
			flex-direction: column;
			text-align: left;
			padding: 120px 15px 70px 30px;
			flex-wrap: nowrap;
			
		}
	}

	// .menu__item

	&__item {
		display: flex;
		justify-content: center;
		gap: 10px;
		@media (max-width: 1024px) {
			justify-content: flex-start;
			
			&:not(:last-child) {
				margin: 0px 0px 32px 0px;
			}
		}
		img {
			max-width: 100%;
		
		}
		
	}

	// .menu__link

	&__link {
		font-family: 'sf';
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		color: #777E91;
		transition: color 0.3s ease 0s;
		position: relative;
		@media (max-width: 1024px) {
			font-size: 24px;
			
		}
		
		
			&:hover {
				color: #23262F;
				@media (max-width: 1024px) {
					&::before {
						content: '';
						position: absolute;
						top: -100%;
						left: -30px;
						width: 2px;
						height: 300%;
						background: #FF592C;
					}
				}
			}
		
		
	
	}
}

.icon-menu {
}

.social-header {
	display: flex;
	align-items: center;
	@include adaptiveValue("gap", 24,15,0,1440,1024);
	position: relative;
	z-index: 80;
	//gap: 24px;
	padding: 0px 15px 0px 0px;
	@media (max-width: 1024px) {
		padding: 0px 0px 50px 30px;

	}
	// .social-header__link

	&__link {
	}
}

// -------------------------------  спойлер в менюшке ----------------------------

.spollers-header {
	
	// .spollers-header__item

	&__item {
		position: relative;
		@media (max-width: 1024px) {
			&:hover {
			
			}
		
		}
		
	}

	// .spollers-header__title

	&__title {
		display: flex;
		flex-direction: row-reverse;
		gap: 15px;
		align-items: center;
		font-family: 'sf';
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		color: #777E91;
		transition: color 0.3s ease 0s;
		@media (max-width: 1024px) {
			font-size: 24px;
			width: 100%;
			justify-content: space-between;
			margin-bottom: 32px;

		}
		
		
			&:hover {
				color: #23262F;
				
			}
		
		
		&._spoller-active {         // анимация галочки при нажатии
			&::before {
				transform: rotate(-180deg);
				
			}
			@media (max-width: 1024px) {
				&::after {
					content: '';
					position: absolute;
					top: -10%;
					left: -30px;
					width: 2px;
					height: 80px;
					background: #FF592C;
				}
			}
			
		}
	}

	// .spollers-header__body

	&__body {
		position: absolute;
		top: 100%;
		padding: 15px 10px 10px 10px;
		background: #f3f0ef;
		border-radius: 8px;
		@media (max-width: 1024px) {
			position: relative;
			background: none;
			padding: 25px 0px 32px 0px;
		}
	}

	// .spollers-header__link

	&__link {
		@media (max-width: 1024px) {
			display: flex;
			align-items: center;
			gap: 10px;
		}
		
		
		&:not(:last-child) {
			margin: 0px 0px 10px 0px;
			@media (max-width: 1024px) {
				&:not(:last-child) {
					margin: 0px 0px 40px 0px;
				}
			}
		}
	}
	//  spollers-header__link-link

	&__link-link {
			font-weight: 600;
			font-size: 12px;
			line-height: 1.0;
			color: #777E91;
			width: 150px;
			@media (max-width: 1024px) {
				font-size: 20px;
				width: 100%;
			
			}
			&:hover {
				color: #23262F;
			}

	}


	// spollers-header__icon
	&__icon {
		display: none;
		@media (max-width: 1024px) {
			display: block;
		}
	}
}



//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: 1024px) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #777E91;
			
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
	
		.menu-open & {
			
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

