//===========================================  plan  =========================================================
.page {

    // .page__plan

    &__plan {
        
        background: #F4F5F6;
    }
}
.plan {

    // .plan__container

    &__container {
    }

    // .plan__body

    &__body {
        @include adaptiveValue("padding-top", 239, 64,0,1440,375);
        @include adaptiveValue("padding-bottom", 136, 64,0,1440,375);
       
        text-align: center;
       
    }

    &__top {
        margin-bottom: 80px;
    }

    // .plan__subtitle

    &__subtitle {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.0;
        text-transform: uppercase;
        color: #777E91;
        &:not(:last-child) {
        margin: 0px 0px 16px 0px;
        }
    }

    // .plan__title

    &__title {
        max-width: 738px;
        margin: 0 auto;
    }
}
//  -------------------------------------------  таблиця ----------------------------------
.plan-tabl {
    
        border-collapse: collapse;
        border-spacing: 0;
        @media (max-width: 991.98px) {
            display: none;
        }
    
    // .plan-tabl__title

    &__title {
      
      
    }

  
}






.tabl-row {
    position: relative;
        &:not(:last-child) {
             :before {
                content: '';
                position: absolute;
                 bottom: 0px;
                 left: 0px;
                
                 background: #E6E8EC;
                 height: 1px;
                 width: 100%;
                 @media (max-width: 991.98px) {
                    width: 92%;
                    left: 35px;
                 }
                 @media (max-width: 676.98px) {
                    width: 90%;
                    left: 35px;
                 }
                 @media (max-width: 560px) {
                    width: 86%;
                    left: 35px;
                 }
                 @media (max-width: 450px) {
                    width: 80%;
                    left: 35px;
                 }
            }
       }

    img {
        max-width: 100%;
        vertical-align: unset;
       
    }  
    
}
.tabl-text {
            font-weight: 600;
            font-size: 16px;
            line-height: 1.5;
            color: #23262F;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0px;
            gap: 15px;
            @media (max-width: 991.98px) {
                padding: 20px 32px 20px 32px;
            }
}
.tabl-btn {

    padding: 54px 0px;
        @media (max-width: 450px) {
            display: flex;
            padding-left: 30px;
        }
    // .tabl-btn__button

    &__button {
    }
}




.tabl-column:nth-child(1) {
    display: flex;
    position: relative;
    p {
        font-weight: 700;
        font-size: 12px;
        line-height: 1.0;
        text-transform: uppercase;
        color: #777E91;
       // margin-top: 256px;
       position: absolute;
       top: 200px;
       left: 0px;
    }
    
}
.tabl-column:nth-child(2),
.tabl-column:nth-child(3) {
    padding: 48px 0px 72px 0px;
   
        
}
.tabl-column:nth-child(4) {
    display: flex;
    flex-direction: column;
    padding: 48px 0px 72px 0px;
}
.free {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #9757D7;
    &:not(:last-child) {
    margin: 0px 0px 8px 0px;
    }
}
.premium {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #FF592C;
    &:not(:last-child) {
        margin: 0px 0px 8px 0px;
    }
}
.unlimited {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #EF466F;
    &:not(:last-child) {
    margin: 0px 0px 8px 0px;
    }
}
.conditions {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #777E91;
    margin-bottom: 32px;
}
.text-tabl {
    font-family: 'sf';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #23262F;
    margin-bottom: 5px;
    position: relative;
    span {
      
        background: url('@img/table/baks.svg') 0 0 no-repeat;
       
        position: absolute;
        top: 0px;
        @include adaptiveValue("left", 25, 2,0,1440,991.98);
        
        width: 15px;
        height: 32px;
        @media (max-width: 991.98px) {
            left: 40%;
        }
        @media (max-width: 850px) {
            left: 35%;
        }
        @media (max-width: 650px) {
            left: 30%;
        }
        @media (max-width: 450px) {
            left: 0%;
        }
    }
    @media (max-width: 450px) {
        padding: 0px 0px 0px 45px;
    }
}


.period {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    color: #777E91;
    @media (max-width: 991.98px) {
        margin-bottom: 32px;
        
    }
    @media (max-width: 450px) {
        padding: 0px 0px 0px 30px;
    }
}




// ---------------------------------  I   таб на 991,98 --------------------------------

.plan-tabl-2 {
    margin-bottom: 32px;
 
    @media (min-width: 991.98px) {
        display: none;
        
    }
    @media (max-width: 991.98px) {
        border-radius: 24px;
    }
    // .plan-tabl-2__title

    &__title {
    }
}
.tabl-column2 {
    padding-top: 45px;
    @media (max-width: 450px) {
        text-align: left;
        padding-left: 30px;
   }
}
.tabl-row td {
     @media (max-width: 991.98px) {
        border: 1px solid #FCFCFD; /* Устанавливаем границы ячеек */
     }
   
  }


// ------------------------------- спойлер - цены на подписки ----------------------

.spollers-pricing {
    @media (max-width: 991.98px) {
        background: #FCFCFD;
        //border: 2px solid #FCFCFD; /* Устанавливаем границы ячеек */
        border-collapse: collapse;
        border-spacing: 0;
      
       
      }
    // .spollers-pricing__item

    &__item {
        position: relative;
       
      
    }

    // .spollers-pricing__title

    &__title {
        font-weight: 600;
        font-size: 12px;
        line-height: 1.67;
        text-align: center;
        color: #23262F;
        display: flex;
        gap: 10px;
        flex-direction: row-reverse;
        align-items: center;
        margin: 0 auto;

        &._spoller-active {         // анимация галочки при нажатии
			&::before {
				transform: rotate(-180deg);
				
			}
			
			
		}
       @media (max-width: 450px) {
        text-align: left;
        margin-left: 35px;
       }

    }

    // .spollers-pricing__body

    &__body {
        width: 100%;
    }
}
